{% extends 'todo/main.html' %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'task' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{  form.as_p }}
        <input class="button" type="submit" value="Save Task">
    </form>
</div>

{% endblock content %}

{% block scripts %}
  {{ block.super }}
  {% if datepickers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
      $(function() {
        $('input[type=datetime-local]').datepicker({
          format: 'yyyy-mm-ddThh:ii:ss',
          autoclose: true,
          todayHighlight: true,
        });
      });
    </script>
  {% endif %}
{% endblock %}